


.third1{
  width:100%;
  display: inline-flex;
    border-width: 600px;
    padding-bottom: 100px;
}


.btn {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 62px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 40px;
  height:50px;
  margin-top:50px;
  margin-right: 60px;
}


input[type=text2]
{
    display:inline-flex;
    width:300px;
    height:50px;
    margin-top:50px;
    padding-top: 10px;
    padding-left: 20px;
    margin-left:20px;
    font-size: 25px;
}

.downtext2
{
  margin-top:50px;
  margin-left:300px;
}


.f2
{
  color: white;
  size:20px;
  font-size: 30px;
}





.thirdgallery{
  border: none;
  display: inline-block;
  background-color: white;
  padding: 5px 1000px;
  height: 120px;
  margin-top: 7px;
  margin-left: 70px;
  margin-right: 1000px;
  margin-bottom: 150px;

}
