body
{
  font-family: sans-serif;
}


.menu-bar
{
  background: rgb(255,255,255);
  text-align: center;

}

.menu-bar ul
{
  display: inline-flex;
  list-style: none;
  color: #fff;
}

.menu-bar ul li
{
  width: 170px;
  margin: 15px;
  padding: 15px;
}

.menu-bar ul li:hover
{
  box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.4);
  transform: translate3D(0, -5px, 0);
  border-radius: 10px;
}

.menu-bar ul li a
{
  text-decoration: none;
  color: #000000;
}

.sub-menu-1
{
  display: none;
}

.menu-bar ul li:hover .sub-menu-1
{
  display: block;
  position: absolute;
  background: rgb(255,255,255);
  margin-top: 15px;
  margin-left: -15px;
    box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.4);
      border-radius: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul
{
  display: block;
  margin: 10px;

}
.menu-bar ul li:hover .sub-menu-1 ul li
{
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
  border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
  color: #00ff99;
}




img
{
  float: left;
}



.middle
{
  width:100%;
  display: inline-flex;
  background: linear-gradient(-180deg, rgb(81,163,136),rgb(214,169,61));
  background-size: 150% 150%;
  animation: gradient 1s ease infinate;
}

.down
{
  margin-top:50%;
  margin-left:60%;
}
.column {

  width:50%;
  float: left;
  padding: 10px;
  height: auto;
}
.f1
{
  color: white;
  size:20px;
  font-size: 30px;
}

.left
{
  margin-left:60%;
  color: white;
}

.third
{
  width:100%;
  display: inline-flex;
    background: #B69673;
    border-width: 600px;
    padding-bottom: 100px;
    text-align:CENTER;
}

.third button
{
    position:relative;
}

input
{
    width:50%;
    height:auto;
    text-align: center;
    margin-top:200px;
    margin-left:1px;
    margin-right: 1px;
    font-size: 25px;

}
.thirdtext
{

 margin-top:620px;
    padding-top:30px;
    padding-left:20px;
  margin-left:100px;
margin-right: 100px;

}
.downtext
{
  margin-top:200px;
  margin-left:50px;
  height: auto;
  width: 100%;
  text-align: center;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 62px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 100px;
  margin-top:200px;
  margin-right: 600px;

}

.forth
{
  background-color:white;
  text-align: center;
  font-size: 30px;

}
.sp
{

  text-align: center;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
.mid
{

  display: inline-flex;
  background-color:white;
  width:100%;

}



.fifth
{

  background-image: linear-gradient(white,white);

  width: auto;

}

.secondline
{
display: block;
background-color: green;
color: white;

}




.secondgallery{
  display: flex;
  justify-content: center;
  background-color: white;
  height: auto;
  width: 100%;
  padding-left: 5px;
  padding-bottom: 40px;

}

.secondgallery>div{
  width: 700px;
  height: 60px;
  text-align: center;
}



.hp{
  text-align: center;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 100px;
}


.sb{
  text-align: center;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 80px;
}

  .footer1{
  background-color:#FFFFFF;
  padding:1%;
  padding-left:5%;
  color:black;
  display: flex;
  justify-content: space-between;
}
.footer1 a{
  color:black;
  text-decoration:none;
}
.footer1 a:hover{
  color:blue;
  text-decoration:none;
  font-size:20px;
  text-align:CENTER;
}
.quickmenu,li{
  padding-bottom:5px;
}
.fa {
  padding: 10px;
  font-size: 10px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
