*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body
{
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}
.user p
{
  font-size:200px;
  text-align: CENTER;   
}

.header {
  overflow: hidden;
  background-color: #172947;
  padding: 20px 10px;
  position: fixed;
  width:100%;
  top: 0;
}

.menu-bar 
{
  background: rgb(255,255,255);
  text-align: center;
}

.menu-bar ul
{
  display: inline-flex;
  list-style: none;
  color: #fff;
}


.menu-bar ul li
{
  width: 170px;
  margin: 15px;
  padding: 15px;
}


.menu-bar ul li a
{
  text-decoration: none;
  color: #000000;
}

.active, .menu-bar ul li:hover
{
  background: #FFF;
  border-radius: 3px;
}

.sub-menu-1
{
  display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
  display: block;
  position: absolute;
  background: rgb(255,255,255);
  margin-top: 15px;
  margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul
{
  display: block;
  margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li
{
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
  border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
  color: #00ff99;
}

.third
{
margin: 10%;
background-color: coral;

}

